*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(238,244,245,0.50);
  }
  
  .heading {
    position: relative;
    top: 40px;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .header-1{
    margin-left: 100px;
  }
  #img {
    max-width: 13%;
    min-width: 150px;
  }
  
  .first{
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-family:Karla, sans-serif;
  
  }
  .free{
    margin-left: 30px;
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-family:Karla, sans-serif;
  }
  .browse {
    color: black;
    text-decoration: none;
    font-size: 17px;
    margin-left: 70px;
    font-family:Karla, sans-serif;
  }
  
  #button-click {
    position: relative;
    top:-10px;
    color: white;
    background-color: #1290A4;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    border: 2px solid #1290A4;
    border-radius: 5%;
    margin-left: 30px;
    font-family:Karla, sans-serif;
  
  }
  .hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    color: black;
  }
  
  .dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid black;
    
  }
  
  .dropdown-item {
    padding: 10px 50px 10px 50px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    border-bottom: 1px solid #ccc;
  }
  
  .dropdown-item:last-child {
    border-bottom: none;
  }
  .hamburger.open {
    display: none;
  }
  
  .close {
    display: none;
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    color: black;
  }
  
  .heading-2 {
    margin-top: 150px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family:Karla, sans-serif;
  }
  .sub-heading-1 {
    min-width: 200px;
  width: 45%;
  }
  
  h1 {
    word-wrap: break-word;
    text-align: left;
    font-size: 50px;
  }
  
  .para-1 {
    word-wrap:normal;
    text-align: left;
    font-size: 20px;
    color: #303938;
    line-height: 2;
  
  }
  
  #input {
    width: calc(100% - 200px);
    padding: 20px;
    font-size: 15px;
    margin-right: 10px;
    background-color: rgba(222, 216, 222, 0.598);
    border: white;
  }
  
  .button {
    text-decoration: none;
    font-size: 15px;
    background-color: #1290A4;
    color: white;
    padding: 20px 30px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 10%;
  }
  
  .para-2 {
    word-wrap: break-word;
    text-align: left;
    font-size: 17px;
    color: #878B90;
  }
  
  #sign {
    color: #1290A4;
    text-decoration: none;
  }
  
  #asset-1 {
    min-width: 400px;
    width: 45%;
  }
  #background-light-blue-wave {
    flex: 1 1 100px;
    width: 100%;
    object-fit: cover; 
    margin-top: 10%;
  }
  .light-blue{
    flex: 1 1 650px;
    position: relative;
    top: -20px;
    background-color: rgb(238, 244, 245);
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #mark-your-next-step{
    text-align: center;
    margin: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .content-3{
    display: flex;
    flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  text-align: center;
  }
  .div1{
    max-width: 22%;
    min-width: 300px;
    background-color: white;
    text-align: left;
    align-items: left;
    margin: 33px;
    height: 50vh;
    font-size: 15px;
    padding: 20px;
    border-radius: 1%;
    transition: box-shadow 0.3s ease;
    line-height: 2;
  }
  .div1:hover{
    box-shadow: 0 20px 20px rgba(0,0,0,0.10);
  }
  
  .image1{
    display: block;
    margin-left: 30px;
    width: 25%;
    background-color: rgba(255,192,203,0.20);
    border-radius: 50%;
    padding: 15px;
  }
  
  .h1{
    
    padding-top: 20px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .link1{
    transition: all 0.5s ease;
    text-decoration: none;
    color: rgb(15, 43, 44);
    font-size: 20px;
    padding-top: 50px; 
    font-family: Karla, sans-serif;
  }
  .link1 img{
    transition: transform 0.5s ease;
  }
  .link1:hover img{
    transform: translateX(30px);
  }
  .para1{
    padding-top: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4a504fda;
  }
  .content-4{
    width: 100%;
  }
  .sub-content-4{
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .para2{
    max-width: 20%;
    min-width: 500px;
  margin: 50px;
  font-family: Karla, sans-serif;
  line-height: 1.5;
  }
  #h2{
    font-size: 45px;
    font-family:Karla, serif; ;
  }
  #para2{
    padding-top: 30px;
  font-size: 20px;
  line-height: 2;
  color: #303938;
  }
  .link-4{
    padding-top: 50px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 124, 143);
    transition: all 0.5s ease;
  }
  .link-4 img{
    transition: transform 0.5s ease;
    color: #1290A4;
  }
  .link-4:hover img{
    transform: translateX(30px);
    color: #1290A4;
  }
  .content-5{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
  .sub-content-5{
    padding-top: 100px;
    max-width: 30%;
    min-width: 600px;
  }
  #img-5{
    width: 90%;
  }
  .h2-5, .h2-6{
    font-size: 45px;
    font-family:Karla, serif;
  }
  .para5,.para6{
    padding-top: 30px;
    font-size: 22px;
    color:#303938;
    font-family:  Karla, sans-serif;
    line-height: 2;
  }
  #check1,#check2,#check3{
    margin-top: 10px;
    font-size: 20px;
  
  }
  .check-container{
  display: flex;
  padding: 10px;
  }
  .content-6{
    display: flex;
    width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  }
  .sub-content-6{
    width: 30%;
    min-width: 400px;
    
  }
  .para-6{
    font-size: 15px;
    font-family:  Karla, sans-serif;
    line-height: 2;
    color: #332e2e;
  }
  #link-6{
    text-decoration: none;
    color: white;
    background-color: #F46F7C;
    padding: 20px;
    font-size: 18px;
    border-radius: 2%;
    font-family:  Karla, sans-serif;
  }
  .sub-content-6,.margin{
    margin: 20px;
  }
  .h2-6{
    font-family:  Karla, sans-serif;
    font-size: 40px;
    line-height: 1.5;
  }
  #black-background{
    width: 100%;
    object-fit: cover;
  }
  .black-background{
    background-color: #273235;
    width: 100%;
    flex: 1 1 650px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .h2-7{
    color: white;
    font-size: 40px;
    font-family:  Karla, sans-serif;
    margin-top: 100px;
  }
  .para7{
    color: #878B90;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .content-price{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
  }
  .price-1,.price-2{
  background-color: white;
  width: 30%;
  min-width: 300px;
  border-radius: 2%;
  padding: 30px;
  margin: 10px;
  flex-wrap: wrap;
  margin-top: 80px;
  }
  #basic{
    font-size: 10px;
  }
  .price{
    font-size: 30px;
    font-weight: bolder;
    padding-top: 20px;
  }
  .detail{
    padding-top: 20px;
    font-size: 18px;
  }
  .check-box-1{
    display: flex;
    padding-top: 20px;
  }
  #check-para1,#check-para2,#check-para3,#check-para4{
    font-size: 15px;
  }
  #check-para3,#check-para4{
    text-decoration: line-through;
    color: #303938;
  }
  #image-tick{
    width: 5%;
    height: 3%;
  }
  .start-free-trial{
    text-decoration: none;
  color: white;
  background-color:rgb(28, 94, 112);
  font-size: 18px;
  padding: 15px;
  border-radius: 5%;
  }
  .start-free-trial:hover{
    background-color: blue;
  }
  #pro{
    font-size: 10px;
    display: inline-block;
  }
  .price-2{
    border-top: 5px solid #F46F7C;
  }
  .popular{
    display: inline-block;
    background-color: #F46F7C;
  color: white;
  width:fit-content;
  font-size: 15px;
  padding: 8px;
  border-radius:30%;
  margin-left: 170px;
  
  }
  .last-line{
    padding: 40px 0 100px 0;
    font-size: 20px;
    color: #878B90;
    word-spacing: 2px;
  }
  
  #check-our-full-feature{
    color: white;
    text-decoration: none;
  }
  .content-8{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .sub-content-8{
    width: 50%;
    min-width: 450px;
    text-align: center;
  }
  .h2-8{
    padding: 140px 0 20px 0;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .para-8{
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
    line-height: 2;
    color: #303938;
  }
  #input-2{
    width: calc(70% - 170px);
    padding: 20px;
    font-size: 15px;
    margin-right: 10px;
    border: white;
    background-color: #e1d8e061;
  }
  
  .last-line-1{
    padding: 22px 0 50px 0;
    color: #273235;
    font-family:   sans-serif;
    font-size: 14px;
  }
  
  .footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    
  }
  .last-div{
    width: 20%;
    min-width: 450px;
    padding: 20px;
  
  }
  #facebook,#twitter,#linkedin{
    padding-right: 10px;
    height: 20px;
  }
  #img-last{
    padding: 40px 0 50px 0;
  }
  .last-para{
    font-size: 15px;
   padding: 0 70px 30px 0;
   font-family:  Karla, sans-serif;
   line-height: 2;
   color: #273235;
  
  }
  
  .support,.help-menu,.product{
    width: 20%;
    min-width: 100px;
  }
  .credit{
    color: #273235;
    line-height: 2;
  }
  
  #support,#help-menu, #product{
    font-size: 15px;
    color: #666666;
    padding: 50px 0 50px 0; 
    display: block;
    text-decoration: none;
    font-family:  Karla, sans-serif;}
  .menu{
    display: block;
    padding-bottom: 20px;
    text-decoration: none;
    color: #1f1f1f;
    font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  footer{
    padding-bottom: 150px;
  }
  /* Media Query */
  @media (max-width: 1000px) {
    .header-1 {
        display: none;
    }
  
    .hamburger {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
  .hamburger.open {
    display: block;
  }
  
  .close {
    display: none
  }
  
  .dropdown.open {
    display: flex;
    right: 0px;
  }
  .close {
    display: none;
    position: absolute;
    right: 215px;
    top: 28px;
    border: 2px solid black;
    padding: 2px 10px 2px 10px;
    color: white;
    background-color: #1290A4;
  }
  .dropdown.open + .close {
    display: block;
  }
  #sign-in{
    margin: 10px 0 10px 0;
    background-color: rgba(0,0,255,0.10);
    padding: 10px 60px 10px 60px;
    border-radius: 50px 50px 50px 50px;
    text-align: center;
  }
  #free-trial{
    margin: 10px 0 10px 0;
    background-color: rgba(0,0,255,1);
    padding: 10px 60px 10px 60px;
    border-radius: 50px 50px 50px 50px;
    text-align: center;
  }
  }
  @media (max-width: 1140px) {
    .last-div{
        width: 100%;
        min-width: 450px;
        padding: 20px;
    }
    .last-para{
        font-size: 25px;
    }
    #img-last{
        width: 12%;
        min-width: 150px;
    }
  
  }
  
  .para6:after {
    content: " ";
    display: block;
    border-bottom: 0.5px solid #7d8a8a7a;
    margin-top: 20px;
  }
  .last-line-1 {
    content: "  ";
    display: block;
    border-bottom: 0.5px solid #c1cfcf7a;
    
  }